<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>数据列表页</title>
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
	<style>
		.search_list{
			margin-left: -15px;
		}
		.search_list a {
			border: blue solid 1px;
			margin-top: 10px;
			display: inline-block;
			padding: 4px 6px;
		}

		.search_list a.my_active {
			background-color: blue;
			color: white;
		}
	</style>
</head>
<body>
<div class="container">
	<!--组合搜索start-->
	<div class="search_list">

		{% for gen_comprehensive_search in cl.gen_comprehensive_search %}
			<div>
				{% for col in gen_comprehensive_search %}
					{{ col }}
				{% endfor %}
			</div>
		{% endfor %}

	</div>
	<!--组合搜索end-->
	<!--添加按钮start-->
	<div class="row" style="margin-top: 15px;margin-bottom: 15px">
		{{ add_btn }}
	</div>
	<!--添加按钮end-->
	<!--搜索框展示start-->
	<form action="" method="get">

		{% if cl.show_search_field_form %}
			<div class="input-group col-xs-3 pull-right"
				 style="margin-right: -15px">

				<input name="{{ cl.config.search_key }}" type="text" class="form-control" placeholder="请输入查询条件"
					   value="{{ cl.search_form_val }}">
				<span class="input-group-btn">
            	<button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"></span></button>
          		</span>
			</div>
		{% endif %}

	</form>
	<!--搜索框展示end-->
	<!--批量操作actions-->
	<form action="" method="post">
		{% csrf_token %}

		{% if cl.show_actions %}
			<div class="input-group col-xs-3"
				 style="margin-left: -15px;margin-bottom: 15px">

				<select name="action_list" id="" class="form-control">
					<option value="">--------请选择--------</option>
					{% for action in cl.add_actions %}
						<option value="{{ action.name }}">{{ action.text }}</option>
					{% endfor %}
				</select>
				<span class="input-group-btn">
            	<button class="btn btn-info" type="submit">执行</button>
          		</span>
			</div>
		{% endif %}
		<!--批量操作actions-->
		<div class="row">
			<table class="table table-bordered table-striped">
				<thead>
				<tr>
					{% for header in header_list %}
						<th>
							{{ header }}
						</th>
					{% endfor %}

				</tr>
				</thead>
				<tbody>
				{% for data in data_list %}
					<tr>
						{% for datum in data %}
							<td>{{ datum }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</form>
	<div class="row">
		<ul class="pagination">
			{{ pager_html|safe }}
		</ul>
	</div>
</div>
</body>
</html>